<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<h2>模版引擎配置成功</h2>
<a href="/news">点击进入首页</a>
<button onclick="jump(123)">点我进入热点新闻    </button>

<el-select v-model="value" placeholder="请选择" @change='fun'>
    <el-option-group
      v-for="group in options"
      :key="group.label"
      :label="group.label">
      <el-option
        v-for="item in group.options"
        :key="item.value"
        :label="item.label"
        :value="item.value">
      </el-option>
    </el-option-group>
  </el-select>
</body>
<script>
    function jump(address){
        window.location.href='/newscontent?aid='+address;
    }
</script>
</html>